# 함수

In [2]:
def f(x):
    y = x + 1
    return y

In [3]:
f(2)

In [3]:
f('a')

TypeError: can only concatenate str (not "int") to str

In [4]:
import pandas as pd

df = pd.DataFrame({'이름':['카리나', '윈터', '닝닝', '지젤'], '생년월일':[20000411, 20010101, 20001030, 20021023], '국적':['한국', '한국', '중국', '일본']})

df2 = df.copy()
df2

    이름      생년월일  국적
0  카리나  20000411  한국
1   윈터  20010101  한국
2   닝닝  20001030  중국
3   지젤  20021023  일본

In [5]:
age = []
for i in range(len(df2.생년월일)):
    age.append(2024 - (df2.생년월일[i] // 10000) + 1)
df2['나이'] = age
df2.head()

    이름      생년월일  국적  나이
0  카리나  20000411  한국  25
1   윈터  20010101  한국  24
2   닝닝  20001030  중국  25
3   지젤  20021023  일본  23

## QUIZ

* 위 단락의 코드를 이용하여 나이를 구해주는 함수를 만들어라!

In [13]:
def aging(df, col_name):
    age = []
    for i in range(len([col_name])):
        age.append(2024 - (df[col_name][i] // 10000) + 1)
    df['나이'] = age
    
    return df2

In [14]:
aging(df2, '생년월일')

ValueError: Length of values (1) does not match length of index (4)

# 모듈 이용하기

In [1]:
import fx

fx.sum(1,2)

3

In [2]:
fx.minus(1,2)

-1

# QUIZ

* preprocess.py 파일을 만들고 무신사 데이터를 전처리하는 함수를 만들어 사용해라

In [3]:
import preprocess  as ps
import pandas as pd

#자신의 파일이 저장되어 있는 폴더
df = pd.read_csv('./data/musinsa.csv') 

processed_df = ps.preprocess(df)
processed_df.to_csv('./musinsa_final.csv', index=False)

# Class

In [16]:
class Bird:
    def __init__(self, species, color, wingspan, age):
        self.species = species
        self.color = color
        self.wingspan = wingspan
        self.age = age

    def fly(self):
        print(f"The {self.species} is flying.")

    def sing(self):
        print(f"The {self.species} is singing.")

my_bird = Bird("sparrow", "brown", 25, 1)

In [17]:
my_bird.species

'sparrow'

In [68]:
my_bird.age

1

In [80]:
class Parrot(Bird):
    def __init__(self, color, wingspan, age):
        super(Parrot, self).__init__("parrot", color, wingspan, age) 
        #Bird로 부터 상속받은 Parrot이라는 클래스는 species를 "parrot"으로 고정
    
    def sing(self):
        print('안녕 나는 앵무새야')

    def aging(self, years):
        self.age += years
        self.wingspan += years*2

In [83]:
zozo = Parrot('green', 12, 1)
zozo.age

1

In [84]:
zozo.aging(3)
zozo.age

4

In [85]:
zozo.wingspan

18